{
	"env": {
		"node": false,
		"jasmine": true
	   },
	"rules": {
		"indent": [2, "tab"],
		"quotes": [2, "single"],
	    "semi": [2, "always", { "omitLastInOneLineBlock": true}]
    },
	"parserOptions": {
        "ecmaVersion": 6
    },

	"globals": {
		"console": false,
		"document": false
	}
}
